:root {
  --primary-color: #26eeb0;
  --background-color: #fff;
  --text-color: black;
  --btn-text-color: #fff;
  --item-container: #fff;
  --border-radius: 5px;
  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 0.125rem;
  --box-shadow-blur: 0.5rem;
  --box-shadow-spread: -0.25rem;
  --box-shadow-color: black;
  font-size: 18;
}

@-webkit-keyframes blinking {
  from {
    color: var(--primary-color);
  }
  to {
    color: var(--background-color);
  }
}

@keyframes blinking {
  from {
    color: var(--primary-color);
  }
  to {
    color: var(--background-color);
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Light mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #031118;
    --text-color: white;
    --item-container: rgba(255, 255, 255, 0.1);
    --btn-text-color: #031118;
  }
  body #skills-container .skills {
    -webkit-box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
            box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  }
  body #projects-container .projects {
    -webkit-box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
            box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  }
  body footer {
    background-color: rgba(255, 255, 255, 0.479) !important;
  }
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

* {
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  border: none;
  padding: 0.75rem;
  margin: 0.5rem;
  font-size: 1rem;
  color: var(--btn-text-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
          box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
}

button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn2 {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.btn2:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  position: relative;
  width: 100%;
}

body header {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: var(--background-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  padding: 0.5rem CLAMP(2rem, 5%, 5rem);
  color: var(--primary-color);
  font-size: 1.2rem;
}

body header .mobile-nav-toggle {
  display: none;
}

body header .logo {
  margin: auto 0;
  font-size: 1.2rem;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0;
  list-style-type: none;
}

body header nav ul a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0;
  padding: 0.5rem;
}

body header nav ul a svg {
  width: 1rem;
  height: 1rem;
  margin: auto 0.5rem auto auto;
  fill: var(--primary-color);
}

body header nav ul a:hover {
  background-color: var(--primary-color);
  color: var(--btn-text-color);
  border-radius: var(--border-radius);
}

body header nav ul a:hover svg {
  fill: white;
}

body main {
  width: 100%;
}

body main h1 {
  color: var(--primary-color);
  font-size: 2rem;
}

body main > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 10%;
  padding-top: 5rem;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

body main #welcome-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #welcome-container h1 {
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main #welcome-container .title {
  display: inline-block;
  white-space: nowrap;
  /* Keeps the content on a single line */
  width: 100%;
  overflow: hidden;
  letter-spacing: 0.05em;
  /* Adjust as needed */
  -webkit-animation: typing 2s steps(50, end);
          animation: typing 2s steps(50, end);
}

body main #welcome-container .cursor {
  color: var(--primary-color);
  -webkit-animation-name: blinking;
          animation-name: blinking;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body main #about-container > div {
  border: 1px solid var(--primary-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
          box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

body main #skills-container .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (MINMAX(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, MINMAX(200px, 1fr));
  width: 100%;
  margin: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--item-container);
  border-radius: var(--border-radius);
}

body main #skills-container .skills .skill-container {
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
          box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

body main #skills-container .skills .skill-container .icon {
  width: 100%;
  aspect-ratio: 1;
  background-size: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
}

body main #projects-container {
  width: 100%;
}

body main #projects-container .projects {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (MINMAX(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, MINMAX(300px, 1fr));
  background-color: var(--item-container);
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: var(--border-radius);
}

body main #projects-container .projects .project-container {
  width: 40%;
  width: 100%;
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
          box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
}

body main #projects-container .projects .project-container .image-overlay {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

body main #projects-container .projects .project-container .image-overlay > p {
  margin: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: white;
  border-radius: var(--border-radius);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main #projects-container .projects .project-container .image-overlay .arrow {
  margin: 0;
  position: absolute;
  margin: 0 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.25rem;
  color: white;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #projects-container .projects .project-container .image-overlay .arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

body main #projects-container .projects .project-container .image-overlay #left-arrow {
  left: 0;
}

body main #projects-container .projects .project-container .image-overlay #right-arrow {
  right: 0;
}

body main #projects-container .projects .project-container .image-conatiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px 5px 30px;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

body main #projects-container .projects .project-container .image-conatiner::-webkit-scrollbar {
  display: none;
}

body main #projects-container .projects .project-container .image-conatiner .image {
  background-size: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scroll-snap-align: start;
}

body main #projects-container .projects .project-container .tag_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.75rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  -webkit-box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
          box-shadow: inset var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

body main #projects-container .projects .project-container .tag_container .tag {
  background-color: var(--item-container);
  min-width: 4rem;
  text-align: center;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
          box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

body main #projects-container .projects .project-container .name {
  color: var(--primary-color);
}

body main #projects-container .projects .project-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main #projects-container .projects .project-container .btn-container .icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

body main #projects-container .projects .project-container .btn-container .icon-btn svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--btn-text-color);
}

body main #projects-container .projects .project-container .btn-container .icon-btn svg g g {
  fill: var(--btn-text-color);
}

body main #projects-container .projects .project-container .btn-container .icon-btn:hover svg {
  fill: var(--primary-color);
}

body main #projects-container .projects .project-container .btn-container .icon-btn:hover svg g g {
  fill: var(--primary-color);
}

body main #projects-container .projects .project-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body main #projects-container .projects .project-container:hover .image-conatiner p {
  display: block;
}

body main #contact-container > .btns {
  min-height: 60%;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}

body main #contact-container > .btns .icon-btn {
  -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
          box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: CLAMP(10rem, 20%, 15rem);
  aspect-ratio: 1;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
}

body main #contact-container > .btns .icon-btn > div {
  width: 60%;
  height: 60%;
}

body main #contact-container > .btns .icon-btn svg {
  fill: var(--btn-text-color);
}

body main #contact-container > .btns .icon-btn:hover {
  background-color: var(--background-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main #contact-container > .btns .icon-btn:hover svg {
  fill: var(--primary-color);
}

body footer {
  background-color: lightgray;
  padding: 1rem 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

body footer > div > p {
  margin: 0.25rem;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    position: relative;
  }
  body header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: auto;
    min-height: 5rem;
    font-size: 1.5rem;
  }
  body header .logo {
    font-size: 1.5rem;
  }
  body header .mobile-nav-toggle {
    all: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    padding: 1rem;
    margin: 0;
    background-color: transparent;
    z-index: 99999;
  }
  body header .mobile-nav-toggle .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  body header .mobile-nav-toggle svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--primary-color);
    -webkit-transition: all 250ms;
    transition: all 250ms;
    cursor: pointer;
  }
  body header .mobile-nav-toggle svg:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  body header nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5rem 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 60%;
    height: 100vh;
    background-color: var(--background-color);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
            box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
  }
  body header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin: 1rem 0 0 0;
    gap: 1rem;
  }
  body header nav[aria-hidden="false"] {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  body main > article {
    padding: 4rem MAX(1rem, 2%) !important;
  }
  body main #skills-container .skills {
    -ms-grid-columns: (MINMAX(100px, 1fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, MINMAX(100px, 1fr)) !important;
  }
  body footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */